@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
  font-family: 'MedievalSharp', cursive;
  background-image: url('../images/background.jpg');
}
.card--images{
  width: 180px;
  border-radius: 10px;
  cursor: pointer;
}

.cards--container {
  /* background-color: rgb(245, 213, 173, 0.9); */
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #884400;
  color: #f5c396;

}

.cards--card:hover {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.3);
}

.cards--card>h4 {
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  display: flex;
  text-align: center;
}
